@use '/src/styles/constants/colors';

.appWrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: red;
}

.app {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: blue;
}
