@use '../../styles/mixins/flexbox';
@use '../../styles/constants/colors';

.ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  font-family: Ubuntu, sans-serif;
  color: colors.$ICON;
  background-color: transparent;
}

.li {
  @include flexbox.flexbox(flex-start, center);
  position: relative;

  div {
    margin: 0.2rem 0;
  }

  img {
    width: 4rem;
    height: 4rem;
    margin: 0 10px;
    object-fit: contain;
  }
  width: 100%;
  height: 5rem;
  padding-right: 2rem;
  margin: 7px 0;
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 15px;
}

.noSearch {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 70vh;
  font-family: 'Source Sans Pro', sans-serif;
  font-size: 2rem;
}

.checkSvg {
  position: absolute;
  top: 0.7rem;
  right: 0.7rem;
  width: 1.2rem;
  height: 1.2rem;
  fill: colors.$ICON;
}

.lastli {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 10px 0;
}
