@use '../../styles/mixins/flexbox';
@use '../../styles/constants/colors';

.main {
  width: inherit;
  height: inherit;
  padding: 10px;
  margin: 5rem 0;
  overflow-x: scroll;
  color: colors.$BLACK;
  background-color: transparent;
}
