@use '../../styles/mixins/flexbox';
@use '../../styles/constants/colors';

.main {
  position: relative;
  width: inherit;
  height: inherit;
  padding: 10px;
  margin: 5rem 0;
  overflow-x: scroll;
  color: colors.$BLACK;
  background-color: transparent;
  scroll-behavior: smooth;
}

.spinner {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
