@use '../../../styles/mixins/flexbox';
@use '../../../styles/constants/colors';

.ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  width: 100%;
  height: 100%;
  color: colors.$ICON;
  background-color: transparent;
}

.li {
  @include flexbox.flexbox;
  width: 100%;
  height: 5rem;
  margin: 7px 0;
  background-color: rgba(255, 255, 255, 10%);
  border-radius: 15px;
}
