@use '../../../styles/mixins/flexbox';
@use '../../../styles/constants/colors';

.loading {
  @include flexbox.flexbox;
  position: fixed;
  bottom: 0;
  left: 0;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
  color: colors.$ICON;
  background-color: colors.$BG;
}
